{
  "env": {
    "node": true,
    "browser": true,
    "mocha": true
  },
  "plugins": ["react", "jsx-a11y", "prettier"],
  "extends": [
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended",
    "prettier"
  ],
  "parser": "babel-eslint",
  "globals": {
    "ga": true
  },
  "rules": {
    "react/prop-types": 0,
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "trailingComma": "all",
        "bracketSpacing": true,
        "parser": "flow"
      }
    ]
  }
}
